@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Franchise;
	src: url('/fonts/franchise_2/Franchise.ttf');
}

@font-face {
	font-family: RetroGaming;
	src: url('/fonts/retro_gaming/RetroGaming.ttf');
}

.shoot {
	animation: shoot 0.2s linear;
}

@keyframes shoot {
	0% {
		background-color: yellow;
	}
	50% {
		background-color: red;
	}
	100% {
		background-color: yellow;
	}
}
